/*=================================== FONTS ===================================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");


@import url('https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*================================== FONTS ==================================*/

/*================================ VARIABLES ================================*/
:root{

	--primary : #1fb9e5;
	--primary-rgb : 31, 185, 229;
	--primaryhover : #1ba5cd;
	--primaryhover-rgb : 27, 165, 205;
	--onprimary : #ffffff;

	/*--primary : #2D2757;
	--primary-rgb : 45, 39, 87;
	--primaryhover : #372d81;
	--primaryhover-rgb : 55, 45, 129;
	--onprimary : #ffffff;*/

	--secondary : #89869F;
	--secondary-rgb : 91, 90, 103;
	--secondaryhover : #44434d;
	--secondaryhover-rgb : 68, 67, 77;
	--onsecondary : #ffffff;

	/*--tertiary : #b8e8c0;
	--tertiary-rgb : 184, 232, 192;*/
	--tertiary : #8ec56a;
	--tertiary-rgb : 142, 197, 106;
	--ontertiary : #ffffff;


	--primaryfont : 'Roboto', sans-serif;
	--secondaryfont : 'Segoe UI', sans-serif;

	/*	COMPONENT SIZE*/
	--navbarheader-height : 80px;
	--topbar-height : 26px;
	--navbarheader-shrink : 10px;
	--navbaroffcanvas-width : 240px;
	--letterspacing-small : 0.05rem;
	--letterspacing-medium : 0.10rem;
	--letterspacing-large : 0.15rem;
	


	/*	TEXT COLOR*/
	--pagetitle-color : #47464a;
	--text-color : #181E23;
	--text-color-rgb : 72,74,79;
	--textlight-color : #8292b4;
	--placeholder : #9e9e9e;
	--navlink-color : #283b6a;

	
	/*	MAIN BACKGROUND COLOR*/
	--bgbody-color : #ecebf2;
	--bglight-color : #f7f7f7;
	--bgwhite-color : #ffffff;

	/*	BACKGROUND COLOR*/
	--tablehead-bgcolor : rgba(var(--secondary-rgb), 0.05);
	--table-bgcolor : #ffffff;
	--tableborder-color : #d7d7d7;

	--modalhead-bgcolor : rgba(var(--secondary-rgb), 0.05);
	--modal-bgcolor : #ffffff;
	--dropdown-bgcolor : #ffffff;
	--navbar-bgcolor : #ffffff;


	/*	FORM CONTROL COLOR*/
	--formlabel : #646464;
	--placeholderloader-color : #e0e0e0;
	--formcontrol-bgcolor : #ffffff;

	
	/*	BORDER COLOR*/
	--border-color : #d4d4d4;

	
	/*	COMPONENT COLOR*/
	--tooltip-color : #ffffff;


	/*	EXTRA COLOR*/
	--red : #FF0000;
	--green : #06BA6E;
	--orange : #FFA500;
	--blue : #253280;
	--grey : #6c757d;

	--red-rgb: 255, 0, 0;
    --green-rgb: 6, 186, 110;
    --orange-rgb: 255, 165, 0;
    --blue-rgb: 58, 146, 225;
    --grey-rgb: 108, 117, 125;



    --color1: #FE2C55;
	--color2: #1778F2;
	--color3: #C83EDE;
	--color4: #23dfcd;

	
	--boxshadow: rgb(149 157 165 / 10%) 0 8px 24px;


    /*	BOOTSTRAP OVERWRITE VARIABLE*/
	--bs-border-color : var(--border-color);
	--bs-primary : var(--primary);
	--bs-secondary : var(--secondary);
	--bs-primary-rgb : var(--primary-rgb);

}

/*================================ VARIABLES ================================*/
body{
  font-family: var(--primaryfont);
  background-color: var(--bgwhite-color);
  padding: 0px;
  color: var(--text-color);
}


a{color: var(--primary); text-decoration:  none;}
a:is(:hover, a:focus, a:active), .btn:is(:hover, :focus, :active){
	text-decoration: none; box-shadow: none; outline: none;
}

.mainwrapper{}
.mainbodywrapper{}
.mainheadwrapper{
	padding-top: var(--navbarheader-height);
	min-height: 120px;
	background-color: #a1f9fe;
}
.mainheadwrapper .section-heading{
	padding: 3.5rem 0;
	margin: 0;
	display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mainheadwrapper .section-heading .page-title{
    line-height: normal;
    font-weight: 700;
    letter-spacing: var(--letterspacing-small);
    text-transform: uppercase;
    color: var(--primary);
    font-size: 2.5rem;
    line-height: normal;
    margin-bottom: 0;

}
.section:not(.section-hero, .section-questionaire, .section-challenge, .section-info){
	padding: 3rem 1rem;
}
.section-heading{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
}
.section-heading .section-title.large{
    font-size: 3.5rem;
}
.section-heading .section-title{
    line-height: normal;
    font-family: var(--secondaryfont);
    font-weight: 500;
    letter-spacing: var(--letterspacing-medium);
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 2.275rem;
    line-height: normal;
    margin-bottom: 1.25rem;
}
.section-heading .section-title span{
	text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 10px;
    font-weight: 600;
}
.section-heading .section-subtitle{
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: var(--letterspacing-medium);
    font-size: 0.85rem;
    margin: 0;
}
.section-heading .section-action{
	display: flex;
	align-items: center;
}

.section-heading .section-action .btn-viewall{
	color: var(--text-color);
	border-radius: 50px;
	padding: 0.5rem 1.25rem !important;
	text-decoration: none;
}
.section-challenge{
	padding: 5rem 1rem;
}
.section-challenge .challenge-title{
	color: #ffffff;
	line-height: 1.2;
    font-weight: 600;
    font-size: 2.25rem;
    letter-spacing: var(--letterspacing-medium);
    margin: 0;
}
.section.bg1{
	background: url('../img/bg1.jpg') no-repeat center center / cover;
}

@media (max-width: 767.98px){
	.section:not(.section-questionaire){
		padding: 2rem 0rem;
	}
}
@media (max-width: 576.98px){
	.section-heading{
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		text-align: center;
	}
	.section-heading .section-title.large{
		font-size: 2.375rem;
	}
	
}
/*======================= BOOTSTRAP OVERWRITES START ========================*/
.btn{
	--bs-btn-focus-box-shadow : none;
	--bs-btn-border-radius : 0px;
	font-size: .85rem; font-weight: 500; white-space: nowrap; padding: 0.375rem 0.85rem;
	letter-spacing: var(--letterspacing-small); outline: none;
	position: relative;
	overflow: hidden;
}
.btn.ripple::before {
	position: absolute;
	width: 0px;
	height: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
	content: "";
	left: 0;
	top: 0;
	width: 0%;
	height:  0%;
}

.btn.ripple:hover::before {
	width: 1000px;
	height: 1000px;
	display: inline-block;
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
}
.btn-primary{
	--bs-btn-color: var(--onprimary);
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
    --bs-btn-hover-bg:  var(--primaryhover);
    --bs-btn-hover-border-color:  var(--primaryhover);
    --bs-btn-active-bg: var(--primaryhover);
    --bs-btn-active-border-color: var(--primaryhover);
	letter-spacing: var(--letterspacing-medium); font-weight: 500; background-color: var(--bs-btn-bg);
	border-color: var(--bs-btn-border-color);
}
.btn-secondary {
	--bs-btn-color: var(--onsecondary);
	--bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-disabled-bg: var(--secondary);
    --bs-btn-disabled-border-color: var(--secondary);
    --bs-btn-hover-bg:  var(--secondaryhover);
    --bs-btn-hover-border-color:  var(--secondaryhover);
    --bs-btn-active-bg: var(--secondaryhover);
    --bs-btn-active-border-color: var(--secondaryhover);
	letter-spacing: var(--letterspacing-medium); font-weight: 500; background-color:  var(--bs-btn-bg);
	border-color: var(--bs-btn-border-color);
}
.btn-outline-primary{
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-border-color : var(--primary);
    letter-spacing: var(--letterspacing-medium); font-weight: 500; color: var(--bs-btn-color);
	border-color: var(--bs-btn-border-color);
}
.btn-outline-secondary{
    --bs-btn-color: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-bg: var(--secondary);
    --bs-btn-hover-border-color: var(--secondary);
    --bs-btn-active-bg: var(--secondary);
    --bs-btn-active-border-color: var(--secondary);
    --bs-btn-disabled-color: var(--secondary);
    --bs-btn-disabled-border-color : var(--secondary);
    letter-spacing: var(--letterspacing-medium); font-weight: 500; color: var(--bs-btn-color);
	border-color: var(--bs-btn-border-color);
}
.btn-fadedprimary{
    color: var(--primary) !important; padding: 0.35rem 0.85rem !important; background-color: rgba(var(--primary-rgb), 0.15);
    font-weight: 600;
}
.btn-fadedprimary:is(:hover, :focus, :active){
	color: var(--primary) !important; 
	background-color: rgba(var(--primary-rgb), 0.3) !important;
}
.btn-fadedprimary .icon{font-size: 1.2rem;}
.btn-fadedprimary .btn-text{font-size: 0.75rem; line-height: normal; letter-spacing: var(--letterspacing-small);}
.btn-link{
	--bs-btn-color: var(--primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--primaryhover);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--primaryhover);
}

.btn.btn-icon{display: flex; align-items: center; gap: 0.5rem; font-size: .85rem; white-space: nowrap; position: relative;}
.btn-icon .material-icons-outlined, .btn-icon .icon, .btn.btn-icon i{font-size: 1.2rem;}
.btn-icon .btn-text{font-size: .85rem}
.btn-close:is(:hover, :focus, :active){	box-shadow: none;outline: none;}
hr {border-top-color: var(--border-color) !important; opacity: 1 !important;}
.tooltip{
	--bs-tooltip-color : var(--tooltip-color);
	letter-spacing: var(--letterspacing-small);
	font-weight: 400;
}
.dropdown-menu{
    --bs-dropdown-font-size: 0.85rem;
    --bs-dropdown-color: var(--text-color);
    --bs-dropdown-bg: var(--dropdown-bgcolor);
    --bs-dropdown-border-color: var(--border-color);
    --bs-dropdown-divider-bg: var(--border-color);
    --bs-dropdown-link-color: var(--text-color);
    --bs-dropdown-link-hover-color: var(--text-color);
    --bs-dropdown-link-active-color: var(--onprimary);
    --bs-dropdown-link-active-bg: var(--primary);
    --bs-dropdown-link-hover-color : var(--primary); 
    --bs-dropdown-link-hover-bg : rgba(var(--primary-rgb), 0.1);
}

.text-primary{color: var(--primary);}
.text-secondary{color: var(--secondary);}
.text-tertiary{color: var(--tertiary);}
/*======================== BOOTSTRAP OVERWRITES END =========================*/

/*------------------------------SCROLLBAR START------------------------------*/
.scroll-list, body{
  overflow-x: auto; overflow-y: visible;
  -webkit-scroll-behavior: smooth; scroll-behavior: smooth;
  -webkit-scroll-snap-type: mandatory; scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100%);scroll-snap-points-y: repeat(100%);scrollbar-width: none;
}
body::-webkit-scrollbar, .scroll-list::-webkit-scrollbar{width: 5px; height: 5px;}
.scroll-list::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb{
	border-radius: 10px; background-color: var(--primary);
}
/*------------------------------SCROLLBAR END------------------------------*/

/*--------------------------- NAVBAR HEADER START ---------------------------*/
.navbar-header{
	--bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
	
	width: 100%;
/*	border-bottom: 1px solid var(--border-color);*/
    display: flex; flex-wrap: wrap; 
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
	background: var(--navbar-bgcolor);
	box-shadow: var(--boxshadow);	
}
.navbar-header.fixed-header .topbar{display: none}


.navbar-header .topbar{
	display: none;
	height: var(--topbar-height);
    background: #000000;
    width: 100%;
}
.topbar .topbar-inner{
	height: var(--topbar-height);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.topbar-link{
	font-size: 0.8rem;
	color: #fff;
	line-height: 0;
	letter-spacing: var(--letterspacing-medium);
}
.topbar-link:hover{
	text-decoration: underline;
}
.topbar-link .bi{
	margin-right: 0.175rem;
}
.topbar .topbar-inner .topbar-left,
.topbar .topbar-inner .topbar-right{
	display: flex;
}
.topbar .social-list a{
	color: #ffffff;
}
.topbar .social-list a .bi{
	font-size: 0.7rem;
}
.navbar-header .navbar-toggler{
	width: 42px; height: 42px; outline: 0; padding: 0; border:0px; border-radius: 0.375rem;
	font-size: 1.5rem; color: var(--navlink-color); box-shadow: none;
}
.navbar-header .navbar-brand{
	padding: 0px; display: flex; align-items: center; gap: 0.5rem; text-decoration: none;
	width: 120px;
}
.navbar-header .navbar-brand img{
	width: 100%; height: 100%; object-fit: contain;
}
.navbar-header .navbar-right{
	display: flex;
}
.navbar-header .navbar-right .nav-link-account{
	padding: 0 0 0 var(--nav-spacing); min-width: 32px; position: relative; 
	display: flex; align-items: center; padding-left: 1rem;
}
.navbar-header .navbar-right .nav-link-account:after{display: none;}
.nav-link-account .account-user-inner {padding: 0 0.5rem; display: flex; flex-direction: column; row-gap: 0.15rem; width: 140px}
.nav-link-account .account-user-avatar {width: 42px; height: 42px; overflow: hidden; border-radius: 0.35rem}
.nav-link-account .account-user-avatar img{width:  100%; height:  100%; object-fit:  cover}
.nav-link-account .account-title{
	font-size: 0.95rem; font-weight: 600; color: var(--text-color); letter-spacing: var(--letterspacing-medium);
    line-height: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
.nav-link-account .account-subtitle{color: var(--textlight-color); font-size: 0.75rem; letter-spacing: var(--letterspacing-medium); line-height: normal}
.navbar-header .navbar-right .dropdown .dropdown-menu{width: 180px; border: 0; margin-top: 0.75rem; box-shadow: var(--boxshadow)}
.dropdown-menu .dropdown-item{padding: 0.65rem 1rem; font-weight: 500; letter-spacing: var(--letterspacing-small)}
.dropdown-menu .btn-logout{display: flex; align-items: center}
.navbar-header .navbar-nav>.nav-item>.nav-link{font-family: var(--secondaryfont);}
.navbar-header .offcanvas{
	--bs-offcanvas-width: var(--navbaroffcanvas-width);
}
.navbar-header .offcanvas{}
.navbar-header .offcanvas .offcanvas-header{
	border-bottom: 1px solid var(--border-color);
}
.navbar-header .offcanvas .offcanvas-header .offcanvas-title{
	font-family: var(--secondaryfont);
    line-height: normal;
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.175rem;
    margin: 0;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: var(--letterspacing-large);
}
.navbar-header .offcanvas .offcanvas-header .btn-close{
	font-size: 0.75rem;
	width: 24px;
	height: 24px;
}
.navbar-header .offcanvas .offcanvas-header .btn-close:hover{
	background-color: rgba(var(--primary-rgb), 0.2);
}



@media (min-width: 991px){
	.navbar-header{
		height: var(--navbarheader-height); 
	}
	.navbar-header.fixed-header{height: calc(var(--navbarheader-height) - var(--navbarheader-shrink));}
	.navbar-header.fixed-header .navbar-brand{
		width: 100px;
		-webkit-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    transition: all 0.2s;
	    -webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    transition-delay: 0s;
	}
	.navbar-header .navbar-nav{
		--bs-nav-link-padding-y: 0rem;
		--bs-nav-link-padding-x: 0rem;
		--bs-navbar-nav-link-padding-x: 0rem;
		--nav-spacing : 1.5rem; display: flex; 
		gap: var(--nav-spacing); 
		height: var(--navbarheader-height);
		-webkit-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    transition: all 0.2s;
	    -webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    transition-delay: 0s;
	}
	.navbar-header.fixed-header .navbar-nav{
		height: calc(var(--navbarheader-height) - var(--navbarheader-shrink));
		-webkit-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    transition: all 0.2s;
	    -webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    transition-delay: 0s;
	}
	.navbar-header .navbar-nav>.nav-item{display: flex; align-items: center;}
	.navbar-header .navbar-nav>.nav-item>.nav-link{
		width: 100%;letter-spacing: var(--letterspacing-medium);
		display: flex; align-items: center; justify-content: center; 
		color: var(--navlink-color); font-size: 0.9rem; font-weight: 500; 
		border-bottom: 2px solid transparent;
	}
	.navbar-header .navbar-nav>.nav-item.active>.nav-link,
	.navbar-header .navbar-nav>.nav-item>.nav-link:is(:hover){
		border-color: var(--primary); color: var(--primary); 
	}
	.btn-play{
		--bs-btn-border-radius : 0px;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 990.98px){
/*	.navbar-header{padding: 0;}*/
	.navbar-header>.container{padding: 0.75rem 0;}
	.navbar-header .offcanvas .navbar-nav{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0px;
	}
	.navbar-header .offcanvas .navbar-nav .nav-item {}
	.navbar-header .offcanvas .navbar-nav .nav-item .nav-link{
		padding: 0.15rem 0rem;
	    border-radius: 0;
	    font-size: 0.85rem;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: var(--letterspacing-small);
	    border-bottom: 2px solid transparent;
    	display: inline-block;
	}
	.navbar-header .offcanvas .navbar-nav .nav-item.active .nav-link,
	.navbar-header .offcanvas .navbar-nav .nav-item .nav-link:is(:hover){
		border-color: var(--primary);
	    color: var(--primary);
	}
	.btn-play{
		--bs-btn-border-radius : 0px;
		width: 100%;
		margin-top: 2rem;
	}
}
@media (max-width: 767.98px){}
@media (max-width: 576.98px){}
/*---------------------------- NAVBAR HEADER END ----------------------------*/

/*------------------------------- FORM START --------------------------------*/
.form-group {
    margin-bottom: 1rem;
}
.form-group .form-text{
    color: var(--text-color);
}
.form-group .form-label{
    color: var(--formlabel);
    font-size: 0.85rem;
    margin-bottom: 1px;
    font-weight: 400;
    letter-spacing: var(--letterspacing-medium);
}
.form-control{
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: var(--letterspacing-small);
    font-size: 0.85rem;
    min-height: 40px;
    line-height: 26px;
    background-color: var(--formcontrol-bgcolor);
}
.form-control[disabled]{
    background-color: rgba(var(--secondary-rgb), 0.15);
}
.form-control:is(:focus){
    box-shadow: none;
    color: var(--text-color);
    border-color: var(--primary);
    background-color: var(--formcontrol-bgcolor);
}
.form-floating>.form-control:focus~label{
    color: var(--primary);
}
input[type=file]::-webkit-file-upload-button{
  	background-color: var(--formcontrol-bgcolor);
  	color: rgba(var(--text-color-rgb), 0.8);
  	font-weight: 600;
  	font-size: 0.85rem;
  	letter-spacing: var(--letterspacing-small);
}
input[type=file]::file-selector-button{
/*  	background-image: linear-gradient(var(--formcontrol-bgcolor), var(--formcontrol-bgcolor), var(--formcontrol-bgcolor) 100%, var(--formcontrol-bgcolor) 200%);*/
	background-color: var(--formcontrol-bgcolor);
}
input[type=file]:is(:hover, :focus, :active):not(:disabled):not([readonly])::file-selector-button{
	background-color: rgba(var(--secondaryhover-rgb), 0.2);
}

/*::-webkit-input-placeholder {
  font-size: 0.85rem; letter-spacing: var(--letterspacing-medium); color: var(--placeholder) !important; font-weight: 400;
}
::-moz-placeholder { 
  font-size: 0.85rem; letter-spacing: var(--letterspacing-medium); color: var(--placeholder) !important; font-weight: 400;
}
:-ms-input-placeholder {
  font-size: 0.85rem; letter-spacing: var(--letterspacing-medium); color: var(--placeholder) !important; font-weight: 400;
}
:-moz-placeholder {
  font-size: 0.85rem; letter-spacing: var(--letterspacing-medium); color: var(--placeholder) !important; font-weight: 400;
}
*/
/*-------------------------------- FORM END ---------------------------------*/

/*------------------------------ FOOTER START -------------------------------*/
.footer{
	background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    /*background-blend-mode: color-dodge;
    background-image: url(../img/in-footer-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    border-top: 1.175rem solid #435ba1;
}
.copyright__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer p {
    color: var(--text-color);
}

.social-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1.375rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-list a{
	color: var(--text-color);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-list a .bi{
	font-size: 1rem;
	line-height: 0;
}
.social-list a:hover{
	color: var(--primary);
}
.footer-top-inner{
	padding: 3rem 0;
}
.footer-about-widget .footer-logo{
	max-width: 150px;
}
.footer-about-widget .footer-about-widget_title{
	font-size: 1.375rem;
    font-weight: 600;
    color: rgba(var(--text-color-rgb), 0.5);
    margin: 1rem 0 0;
    letter-spacing: var(--letterspacing-small);
    text-transform: uppercase;
}

.widget-nav_menu{
	padding-left: 2rem;
}
.widget-nav_menu .widget-title{
	color: var(--primary);
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: var(--letterspacing-small);
	margin-bottom: 1.175rem;
}
.widget-nav_menu .widget-nav_menu-links{

	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.15rem;
	padding: 0;
}
.widget-nav_menu .widget-nav_menu-links .menu-item{}
.widget-nav_menu .widget-nav_menu-links .menu-item .menu-link{
	font-size: 0.8rem;
	white-space: nowrap;
	transition: all 0.1s linear;
	font-weight: 500;
	letter-spacing: var(--letterspacing-small);
	color: var(--text-color);
}
.widget-nav_menu .widget-nav_menu-links .menu-item .menu-link:before{
	content: '\F582';
	font-family: 'bootstrap-icons'; 
	font-size: 0.5rem;
	color: var(--primary);
	padding-right: 0.275rem;
}
.widget-nav_menu .widget-nav_menu-links .menu-item .menu-link:hover{
	text-decoration: none;
	color: var(--primary);
	padding-left: 0.5rem;
}
.widget-nav_menu-links.quicklinks{
	display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.widget-nav_menu-links.quicklinks .menu-item{
	flex: 0 0 49%; 
}
.footer-bottom{
	background-color: #b8e8c0;
}
.footer-bottom-text a{
    color: var(--text-color);
}
.footer-bottom-text span{
    color: var(--text-color);
	margin: 0 0.5rem;
}
.footer-bottom-text{
    color: var(--text-color);
    margin: 0;
    text-align: left;
    font-size: 0.85rem;
    letter-spacing: var(--letterspacing-small);
}
@media (max-width: 991.98px){
	.footer-about-widget{
		margin-bottom: 2rem;
	}
	.widget-nav_menu{padding: 0;margin-bottom: 2rem;}
	.widget-nav_menu .widget-nav_menu-links{gap: 0.5rem}
	.copyright__inner{flex-direction: column; gap: 1.5rem}

}
@media (max-width: 767.98px){
	.widget-nav_menu-links.quicklinks{
		flex-direction: column;

	}
	.widget-nav_menu-links.quicklinks .menu-item{
		flex: 1;
	}
	.footer-bottom-text{text-align: center}
}
@media (max-width: 576.98px){}
/*------------------------------- FOOTER END --------------------------------*/


/*------------------------------- HERO START --------------------------------*/
.section.section-hero{
	padding-top: var(--navbarheader-height);
	padding-bottom: 100px	;
}
.section-hero{
	background-color: #a1f9fe;
}
.section-hero .carousel .carousel-inner{
	
	height: 70vh;
}
.section-hero .carousel .carousel-inner .carousel-item{
	height: 100%;
}
.carousel-image{
	padding: 1rem;
	width: 450px;
	height: 450px;
	margin: auto;
}
.carousel-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.section-hero .carousel .carousel-inner .carousel-item .carousel-caption{
	top: 0;
	bottom: 0;
	padding: 1.25rem;
}
.hero-title{
	margin-bottom: 1rem;
	font-size: 3.75rem;
	font-weight: 600;
	line-height: 1.2;
	color: var(--primary);
	letter-spacing: var(--letterspacing-small);
	text-transform: uppercase;
}
.hero-subtitle{
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.2;
	color: var(--text-color);
	letter-spacing: var(--letterspacing-small);
	text-transform: uppercase;
}
.hero-highlighttitle{
	margin: 0;
	font-size: 2.25rem;
	font-weight: bold;
	color: #ffffff;
	background-color: var(--primary);
	letter-spacing: var(--letterspacing-small);
	text-transform: uppercase;
	display: inline-block;
	padding: 0.5rem;
}
.hero-action{
	margin-top: 1.5rem;
}
.carousel-control-next, .carousel-control-prev{
	width: 54px; height: 54px; opacity: 1; border-radius: 50%;
	background-color: #fff; margin: auto; font-size: 1.5rem;
}
.carousel-control-next .bi, .carousel-control-prev .bi{
	line-height: 0;
}
.carousel-control-prev{left: 3%}
.carousel-control-next{right: 3%}



@media (max-width: 990.98px){
	.carousel-image{width: 400px; height: 400px;}
	.hero-title{font-size: 2.5rem}
	.hero-subtitle{font-size: 1.2rem}
	.hero-highlighttitle{font-size: 1.2rem}
}
@media (max-width: 767.98px){
	.carousel-image{width: 350px; height: 350px;}
	.hero-title{font-size: 2.25rem}
	.hero-subtitle{font-size: 1.1rem}
	.hero-highlighttitle{font-size: 1.1rem}
	.carousel-control-next, .carousel-control-prev{width: 36px; height: 36px; font-size: 1rem;}

}
@media (max-width: 576.98px){
	.carousel-image{width: 250px; height: 250px;}
	.hero-title{font-size: 2rem}
	.hero-subtitle{font-size: 1rem}
	.hero-highlighttitle{font-size: 1rem}

}
/*------------------------------- HERO END --------------------------------*/

/*------------------------------ INFO START --------------------------------*/
.section.section-info{
	margin-top: -100px;
}
.herocard{
	overflow: hidden;
	--bs-card-border-width : 0;
	--bs-card-border-radius : 0;
/*	border-top: 2px solid var(--primary);*/
}
.herocard .herocardrow{
	border: 2px solid var(--primary);
}
.herocardrow>.herocarditem{
	padding: 1rem;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
/*    border: 2px solid var(--primary);*/
    /*border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    border-left: 2px solid var(--primary);*/
}

.herocardrow>.herocarditem:nth-child(1){
	background-color: #eaf8eb;
}
.herocardrow>.herocarditem:nth-child(2){
	background-color: #cdf5fd;
}
.herocardrow>.herocarditem:nth-child(3){
	background-color: #a1e9ff;
}
.herocardrow>.herocarditem:nth-child(4){
	background-color: #84e2fe;
}
.herocardrow>.herocarditem .herocarditem_image{
	width: 84px;
	height: 84px;
}
.herocardrow>.herocarditem .herocarditem_image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.herocardrow>.herocarditem .herocarditem_title{
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--text-color);
	margin: 0px;
}
.herocardrow>.herocarditem .herocarditem_desc{
	font-size: 0.85rem;
	font-weight: 400;
	color: var(--text-color);
	letter-spacing: var(--letterspacing-small);
	margin: 0px;
}
.counterrow{
	padding: 3rem 0;
}
.counterrow .counteritem{
	display: flex;
	align-items: center;
	padding: 1.5rem;
	gap: 1rem;
}
.counteritem .counteritem_image{
	width: 54px;
	min-width: 54px;
	min-height: 54px;
	height: 54px;
	border: 1px solid var(--primary);
	border-radius: 50%;
	padding: 0.7rem;
	background-color: #fff;
}
.counteritem .counteritem_image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.counteritem .counteritem_content{}
.counteritem .counteritem_content .counteritem_title{
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: var(--letterspacing-small);
	color: var(--primary);
	line-height: 1;
}
.counteritem .counteritem_content .counteritem_subtitle{
	margin: 0;
	color: var(--text-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: var(--letterspacing-medium);
    line-height: 1;
}

@media (min-width: 991px){
	.herocardrow>.herocarditem:not(:last-child){
		border-right: 2px solid var(--primary);
	}

/*	.herocardrow>.herocarditem:not(:last-child){border-right: 0px;}*/
}
@media (min-width: 768px) and (max-width: 990.98px){
	.herocardrow>.herocarditem:nth-child(1),
	.herocardrow>.herocarditem:nth-child(3){
		border-right: 2px solid var(--primary);
	}
	.herocardrow>.herocarditem:nth-child(1),
	.herocardrow>.herocarditem:nth-child(2){
		border-bottom: 2px solid var(--primary);
	}	
}
/*@media (max-width: 767.98px){}*/
@media (max-width: 767.98px){
	.herocardrow>.herocarditem:not(:last-child){
		border-bottom: 2px solid var(--primary);
	}
}
@media (max-width: 576.98px){
}

/*------------------------------- INFO END --------------------------------*/

/*-----------------------------PRODUCT START ------------------------------*/
.productcard{
	background-color: var(--product-bg);
	overflow: hidden;
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
    --bs-card-spacer-y: 1.5rem;
    --bs-card-spacer-x: 1.5rem;
    height: 100%;
}
.productcard .card-image{
	position: relative;
	padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
	width: 70%;
	height: 350px;
	margin: auto;
	z-index: 1;
}
.productcard .card-image:before{
	content: '';
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.25);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
}
.productcard .card-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.productcard .card-image{}
.productcard .product-qty{
	text-transform: uppercase;
	letter-spacing: var(--letterspacing-small);
	color: var(--text-color);
	font-size: 0.8rem;
	font-weight: bold;
    margin: 0px;
}
.productcard .product-title{
	font-size: 1.375rem;
    font-weight: bold;
    color: var(--primary);
    margin: 0.325rem 0;
}
.productcard .product-desc{
	line-height: 1.2;
	font-size: 0.85rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0.325rem;
}
.productcard .product-link{
	font-weight: bold;
	padding: 0;
	text-decoration: none;
	letter-spacing: var(--letterspacing-small);
	color: var(--text-color);
}
.productcard .product-link:is(:hover, :focus, :active){
	color: var(--primary);
}
/*----------------------------- PRODUCT END -------------------------------*/


/*-------------------------- PRODUCT DETAILS START --------------------------*/
.product-details-image{
	width: 300px;
	max-width: 100%;
	margin: auto;
}
.product-details-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.product-details-head{
	margin-bottom: 2rem;
}
.product-details-qty{
	color: #6a667b;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: var(--letterspacing-medium);
}
.product-details-title{
	font-size: 36px;
	color: var(--primary);
    letter-spacing: var(--letterspacing-medium);
	font-weight: 900;
}
.product-details-desc{
	font-size: 0.95rem;
	font-weight: 400;
    letter-spacing: var(--letterspacing-medium);
    margin-bottom: 10px;
	color: #62605c;
}
.product-details-desc.small-text{
	font-size: 0.75rem;
}
.list-group-info{
	--bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 1rem;
   	margin-bottom: 1rem;
}
.list-group-item-label{
	font-weight: 600;
	letter-spacing: var(--letterspacing-medium);
	margin-bottom: 0.375rem;
}
.list-group-item-valuelist li,
.list-group-item-value{
	font-weight: 400;
	font-size: 0.95rem;
	color: #62605c;
	letter-spacing: var(--letterspacing-small);
}
.infotabcard{
    --bs-card-cap-padding-y: 0rem;
    --bs-card-cap-padding-x: 0rem;
    --bs-card-cap-bg : transparent;
   	margin-bottom: 1rem;
}
.infotabcard .nav{
	--bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-underline-gap : 0rem;
    --bs-nav-link-font-size : 0.95rem;
    --bs-nav-link-color : var(--text-color);
    --bs-nav-link-hover-color :  var(--primary);
    --bs-nav-underline-link-active-color : var(--primary);
}
.infotabcard .nav .nav-link{
	font-weight: 500;
    letter-spacing: var(--letterspacing-medium);
}

@media (min-width: 991px){
	.product-details-image{
		position: sticky;
		top: var(--navbarheader-height);
	}
}
/*--------------------------- PRODUCT DETAILS END ---------------------------*/


/*--------------------------- QUESTIONAIRE START ----------------------------*/
.section-questionaire{
	background-color: #F0F5F4;
	position: relative;
}
.section-questionaire:before{
	content: '';
/*	background: url(https://images.pexels.com/photos/5752281/pexels-photo-5752281.jpeg) no-repeat center center / cover;*/
background: url("../img/testingeye_bg.jpg") no-repeat center center / cover;
}
.questionaire-banner{
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.questionaire-banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.questionaire-area{
	height: 100%;
	padding: 2rem 1rem 2rem 0 ;
/*	background-color: #f8f6e3;*/
}
.questionaire-content{}
.questionaire-content .questionaire-heading{
	display: flex;
	column-gap: 1rem;
	padding: 1rem 0;
}
.questionaire-content .questionaire-heading .questionaire-num{
	font-weight: bold;
	font-size: 3.5rem;
    line-height: 1;
    color: var(--primary);
}
.questionaire-content .questionaire-heading .questionaire-title{
	font-weight: 400;
    font-size: 1.175rem;
    line-height: 1.2;
    color: var(--text-color);
}
.questionaire-content .questionaire-body{
	padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 1rem;
}
.questionaire-content .questionaire-body .form-check{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
   	flex: 1 0 48%;
}
.questionaire-content .questionaire-body .form-check .form-check-input{
margin-top: -0.1em;
	width: 1.25em;
	height: 1.25em;
}
.questionaire-content .questionaire-body .form-check .form-check-label{
	font-weight: 600;
	font-size: 1.275rem;
    color: var(--text-color);
}
.questionaire-content .questionaire-footer{
	padding: 1rem 0;
}
.form-check-input:checked{
	background-color: var(--primary);
    border-color: var(--primary);
}


@media (min-width: 991px){
	.section-questionaire:before{
    	width: 50%;
    	height: 100%;
    	display: flex;
    	position: absolute;
    	right: 0;
	}
}
@media (max-width: 990.98px){
	.section-questionaire:before{
    	width: 100%;
    	height: 250px;
    	display: flex;
    	/*position: absolute;
    	right: 0;*/
	}
}
@media (max-width: 767.98px){
	.questionaire-area{
		padding: 1rem;
	}
	.questionaire-content .questionaire-heading{
		flex-direction: column;
	}
	.questionaire-content .questionaire-body{gap: 1rem}
}
@media (max-width: 576.98px){}
/*---------------------------- QUESTIONAIRE END -----------------------------*/

/*----------------------------- EYE TEST START ------------------------------*/
.section-video{
	background-color: var(--primary);
}
.videocard{
	overflow: hidden;
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
    --bs-card-spacer-y: 1.5rem;
    --bs-card-spacer-x: 0rem;
    --bs-card-bg : transparent;
/*    height: 250px;*/
}
.videocard:hover .play-icon{
	color: var(--primary);
}
.videocard .thumb-image{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.videocard .card-image{
	width: 100%;
	height: 250px;
	position: relative;
	border-radius: var(--bs-card-border-radius);
	overflow: hidden;
}
.videocard .card-img-overlay{
	display: flex;
	height: 250px;
}
.videocard .play-icon{
	margin: auto;
    background-color: #ffffff;
    font-size: 4rem;
    color: var(--red);
    width: 48px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videocard .play-icon .bi{
	display: flex;
}
.videocard .video-title{
	font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: var(--letterspacing-medium);
    margin: 0.325rem 0;
}
.videocard .video-desc{
	line-height: 1.2;
	font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: var(--letterspacing-medium);
    color: #ffffff;
    margin-bottom: 0;

}

.mod-section h3,
.mod-title{
	color: var(--text-color);
	font-size: 1.275rem;
	font-weight: 600;
	margin-bottom: 0.75rem;

}
.mod-section p,
.mod-desc{
	color: var(--text-color);
	font-size: 0.95rem;
	margin-bottom: 0.5rem;
}
/*------------------------------ EYE TEST END -------------------------------*/

/*------------------------------ CONTACT START ------------------------------*/
.contact_feature{
	padding: 0 3.89rem;
	margin-bottom: 60px;
	text-align: center;
}
.contact_feature .contact_icon{
	margin-bottom: 1.12rem;
}
.contact_feature .contact_icon .bi{
	color: var(--primary);
	font-size: 35px;
    line-height: 35px;
}
.contact_feature .contact_content{}
.contact_feature .contact_content .contact-heading{
	font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: var(--letterspacing-medium);
    margin-bottom: 1rem;
}
.contact_feature .contact_content .contact-value{
	font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: var(--letterspacing-medium);
    margin-bottom: 0px;
    color: #62605c;
}
/*------------------------------- CONTACT END -------------------------------*/

/*-------------------------------- FAQ START --------------------------------*/
.faq-nav{
	--bs-nav-link-color : var(--text-color);
	--bs-nav-link-hover-color : var(--primary);
	--bs-nav-pills-link-active-bg : var(--primary);
	--bs-nav-pills-link-active-color : var(--onprimary);
	--bs-nav-pills-border-radius : 0;
	--bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-font-weight : bold;
}
.faq-nav .nav-link.active{
	border-color: var(--primary);

}
.faq-nav .nav-link{
	border-width: 1px;
	border-style: solid;
	border-color: var(--border-color);
	letter-spacing: var(--letterspacing-small);
	text-transform: uppercase;
}
.faq-accordion{
	--bs-accordion-color: var(--text-color);
    
    --bs-accordion-border-radius : 0;
    --bs-accordion-border-color: var(--border-color);
    --bs-accordion-btn-padding-x: 1rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-body-padding-x: 1rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-btn-color: var(--text-color);
    --bs-accordion-btn-icon-width: 1.275rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;

    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23181E23' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23181E23' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-box-shadow: none;
    
    --bs-accordion-active-color: var(--text-color);
    --bs-accordion-active-bg: transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faq-accordion .accordion-item{
	border-radius: var(--bs-accordion-border-radius);
	border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
	overflow: hidden;
}
.faq-accordion .accordion-item .accordion-header{}
.faq-accordion .accordion-item .accordion-header .accordion-button{
	font-weight: bold;
	font-size: 18px;
    line-height: 26px;
	letter-spacing: var(--letterspacing-small);
	box-shadow: none;
}
.faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed){
	border-bottom: 1px solid var(--border-color);
}
.faq-accordion .accordion-item .accordion-body{
	font-weight: 400;
	font-size: 17px;
    line-height: 26px;
	letter-spacing: var(--letterspacing-small);
	
}

/*--------------------------------- FAQ END ---------------------------------*/

/*---------------------------- SCORE MODAL START ----------------------------*/
.score-modal{
	--bs-modal-bg: #F0F5F4;
	--bs-modal-padding: 2rem 1rem;
}

.score-modal .modal-content{

}
.score-modal .modal-header .modal-title{
	font-family: var(--secondaryfont);
	font-weight: 500;
	letter-spacing: var(--letterspacing-medium);
	text-transform: uppercase;
	font-size: 1rem;
	
}
.score-modal .modal-header .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50px;
    background: var(--red);
    color: #ffffff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-text{
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: var(--letterspacing-medium);
	margin: 0;
}
.result-icon{
	width: 128px;
	height: 128px;
	margin: auto;
}
.result-icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/*----------------------------- SCORE MODAL END -----------------------------*/